<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="25a19b39-cb91-4538-a1e5-72f12dfff12d"
    Publisher="CN=Sam Bishop"
    Version="1.0.15.0" />

  <mp:PhoneIdentity PhoneProductId="25a19b39-cb91-4538-a1e5-72f12dfff12d" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Internal Forces Calculator</DisplayName>
    <PublisherDisplayName>Sam Bishop</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="InternalForcesCalculator.App">
      <uap:VisualElements
        DisplayName="Internal Forces Calculator (ENGINR 1200)"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Description="An internal forces calculator created for ENGINR 1200 at Mizzou for the Spring of 2020. Professor Yaw Adu."
        BackgroundColor="transparent" Square44x44Logo="Assets\AppIconGen.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashIcon.png"  BackgroundColor="#5D9BD7"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>